; Please don't edit this file.
; Use the OPTIONS screen to set this stuff!
Port=COM4
Baud=0
BInt=55
CInt=1
EDel=400
KW2Delay=30
WSC=00000
IMP=000
RedCPU1=0
RedCPU2=0
KP2Time=25
LimitColor=0
PrintMargin=4
Size=10
